.App {
  text-align: center;
}

.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users,
.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
  margin: 50px;
}
.user,
.post {
  margin: 0 !important;
  height: 350px !important;
  margin-bottom: 15px!important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.comments {
  padding: 20px;
 
}
.post-meta {
  display: flex;
  justify-content: center;
}
